<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>499223119289-d9136osvq6o5n30b4dq3uhmnnbdqq2ie.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.499223119289-d9136osvq6o5n30b4dq3uhmnnbdqq2ie</string>
	<key>API_KEY</key>
	<string>AIzaSyCdJ4xjTnMXKjUs4NW9143F26FZ8HQtqII</string>
	<key>GCM_SENDER_ID</key>
	<string>499223119289</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tiktok</string>
	<key>PROJECT_ID</key>
	<string>tiktok-flutter-beem</string>
	<key>STORAGE_BUCKET</key>
	<string>tiktok-flutter-beem.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:499223119289:ios:5f2c7cd1837e2f160e6268</string>
</dict>
</plist>